.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 40%, .6);
}
.modal-container:target {
  display: flex;
}
.modal-main {
  position:fixed;
  background: white;
  text-align: center;
  border-radius: 15px;
  height: 350px;
	width: 700px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);   
	overflow: hidden;
	--margin: 5em auto; 
  display: block;
  --overflow-y: initial !important;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6); 
  overflow: scroll; 
}
.modal-titulo {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #f8901c;
  font-weight: bold;
  text-align: left;
  overflow: hidden;
  position: relative;
  padding:5px; 
  
  /*display: flex;
  justify-content: space-between; 
  padding:5px;  
  font-size: 15px;
  color: #f8901c;
  font-weight: bold; 
  position: relative;
  text-align: left;
  overflow: hidden;
  height: 100%;  */
}
.displayModal-block {
  display: block;
}
.displayModal-none {
  display: none;
}
.modal-titulo button {
  width: 35px;
  height: 35px;
  border: none;
  border-bottom: none;
  line-height: 30px;
  font-size: 20px;
  padding: 0;
  background-color: transparent;
  color: gray;
  cursor: pointer;
}
.modal__btn:hover,
.modal__btn:focus {
  border-color: hsla(0, 0%, 100%, .6);
  transform: translateY(-.2rem);
  outline: none !important;
}
.modal-main{
  height: 60%;
  width: 50%;
}
/*MEDIDAS EN DISPOSITIVOS*/
/*iPhone 5, 5s, 5c y 5SE*/
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px) {
    .modal-main {      
      height: 300px;
      width: 250px;
    }
    .modal-titulo {      
      font-size: 10px;
    }
}
/*iPhone 6, 6s, 7 y 8, iPhone SE (2020)*/
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px)  { 
    .modal-main {      
      height: 350px;
      width: 350px;
    }
    .modal-titulo {      
      font-size: 11px;
    }
}
/*iPhone 11, 11pro max, iPhone XR,iPhone XS Max */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 896px)  { 
    .modal-main {      
      height: 400px;
      width: 380px;
    }
    .modal-titulo {      
      font-size: 11px;
    }
}
/*iPhone 12 pro max, iPhone 13 PRO MAX*/
@media only screen 
  and (min-width: 428px) 
  and (max-width: 926px)  { 
    .modal-main {      
      height: 400px;
      width: 400px;
    }
    .modal-titulo {      
      font-size: 12px;
    }
}
/*ANDROID*/
/*Xiaomi Mi 11i, Xiaomi 12 2022*/
@media only screen 
  and (min-width: 360px) 
  and (max-width: 800px)  { 
    .modal-main {      
      height: 400px;
      width: 330px;
    }
    .modal-titulo {      
      font-size: 11px;
    }
}
/*Xiaomi Redmi Note 9 Pro*/
@media only screen 
  and (min-width: 393px) 
  and (max-width: 873px)  { 
    .modal-main {      
      height: 350px;
      width: 350px;
    }
    .modal-titulo {      
      font-size: 11px;
    }
}
/*Samsung Galaxy Z Fold 2 (2020)*/
@media only screen 
  and (min-width: 884px) 
  and (max-width: 1104px)  { 
    .modal-main {      
      height: 850px;
      width: 850px;
    }
    .modal-titulo {      
      font-size: 15px;
    }
}
/*Samsung Galaxy Tab S7*/
@media only screen 
  and (min-width: 800px) 
  and (max-width: 1280px)  { 
    .modal-main {      
      height: 760px;
      width: 760px;
    }
    .modal-titulo {      
      font-size: 16px;
    }
}
/*Samsung Galaxy S20+*/
@media only screen 
  and (min-width: 384px) 
  and (max-width: 854px)  { 
    .modal-main {      
      height: 360px;
      width: 360px;
    }
    .modal-titulo {      
      font-size: 10px;
    }
}
/*Apple iPad Air 4 (2020)*/
@media only screen 
  and (min-width: 820px) 
  and (max-width: 1180px)  { 
    .modal-main {      
      height: 780px;
      width: 780px;
    }
    .modal-titulo {      
      font-size: 15px;
    }
}
/*Apple iPad PRO 11*/
@media only screen 
  and (min-width: 834px) 
  and (max-width: 1194px)  { 
    .modal-main {      
      height: 800px;
      width: 800px;
    }
    .modal-titulo {      
      font-size: 15px;
    }
}
/*Samsung Galaxy Tab S7*/
@media only screen 
  and (min-width: 800px) 
  and (max-width: 1280px)  { 
    .modal-main {      
      height: 760px;
      width: 760px;
    }
    .modal-titulo {      
      font-size: 16px;
    }
}
/*Surface Pro 7*/
@media only screen 
  and (min-width: 912px) 
  and (max-width: 1368px)  { 
    .modal-main {      
      height: 870px;
      width: 870px;
    }
    .modal-titulo {      
      font-size: 17px;
    }
}
/*Samsung Galaxy A51/71*/
@media only screen 
  and (min-width: 412px) 
  and (max-width: 914px)  { 
    .modal-main {      
      height: 400px;
      width: 380px;
    }
    .modal-titulo {      
      font-size: 12px;
    }
}



