@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} 


body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh; 
  
}

nav {
  position: absolute;
  top: 10px;
}

.mainnav{
    background-color: #fff;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 60px;
  }

.mainnav li {
  color: #777;
  cursor: pointer;
  flex: 1;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  
}


.card-group{
  display: flex;
  flex-direction: row;
}

.card-item{
  padding: 20px;
}

.card-group h3{
  font-size: 1rem;
  font-weight: normal;
}


.tabs-group{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.tabs-group-vertical{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.tabs-item{
  padding: 10px;
}

.tabs-item-vertical{
  padding-top: 20px;
}

.tab-item {
  border: blue 1px dashed;
  border-radius: 5px;
  padding: 5px;
}

.tab-item-selected{
  border: orangered 1px dashed;
  border-radius: 5px;
  padding: 5px;
}


.btn-acciones{
  display: flex;
  flex-direction: row;
}

.btn-acciones button{
  margin: 0 5px;
}





.product-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  margin: 20px 0;
}



.ver_resumen{
  border: 1px solid green;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background-color: yellowgreen;
}

.mesa-item{  
  border-radius: 10px;
  color: #fff;
  background-color: salmon;
  padding: 1rem;
  margin: 1rem;
}