@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
:root{
  --button-primary: #FABD44;
  --item-select:#f4952f;
  --item-unselect: #EEEEED;
  --button-orden: #66f2d5;
  --button-generate-pedido:#05cb6c;
  --message-restaurant:#777;
  --mesage-name-restaurant:#ff8243;
  --content-white:#ffffff;
  --color-red: red;
  --content-table-service: #04AA6D;
  --color-generate-orden: #8Dcadb;
  --color-cards-admin: #008bf8;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh; 
  font-family: 'Muli', sans-serif;
}
/*---------- PORTADA ----------*/
.portada{
  text-align: center;
}
.portada img{
  width: 100%;
  --object-fit: contain;
}
.portada h1{
  font-size: 40;
  font-weight: bold;
  text-transform: capitalize;
}
.portada h2{
  margin-top: 20px;
  color: var(--message-restaurant);
}
.portada button{
  min-width: 200px;
  min-height: 40px;
  background-color: var(--button-primary);
  box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px var(--content-white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: var(--content-white);
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none !important;
  transition:  0.8s cubic-bezier(0.22, 0.78,0.45, 1.02);
  overflow: hidden;
  position: relative;
  z-index: 2;
  padding: 6px 30px;
}
.portada button:hover{
  border-color: #0d0d25;
  box-shadow: inset 9px 9px 12px var(--item-select), inset -9px -9px 12px var(--button-primary);
  color: var(--content-white);
}
.mensajes span{
  color: var(--mesage-name-restaurant);
  background-image: linear-gradient(0deg, rgb(13 13 37 /8%), rgb(13 13 37 /8%));
  background-size: 100% 20px;
  background-position: 0 90%;
  background-repeat: no-repeat;
  display: inline;
  transition: 0.8s cubic-bezier(0.22,0.78,0.45,1.02);
}
.h1-title{
  text-transform: capitalize;
  margin-bottom: 25px;
  font-weight: 900;
}
.banner-img{
  background-size: cover;
  background-position: center;
  animation: biani 4.5s linear infinite alternate;
  box-shadow: 0 0px 20px rgba(36, 39,37, 0.3);
}
@keyframes biani {
  0% {
      border-radius: 48% 52% 57% 43% / 34% 44% 56% 66%;
  }
  25% {
      border-radius: 62% 38% 64% 36% / 34% 55% 45% 66%;
  }
  50% {
      border-radius: 43% 57% 51% 49% / 33% 42% 58% 67%;
  }
  100% {
      border-radius: 40% 60% 43% 57% / 52% 32% 68% 48%;
  }
}



/*---------- Información de la categoría de los productos ----------*/
.menu-tab-wp{
  margin-top: 80px;
}
.menu-tab ul{
  padding: 10px;
  display: inline-block;
  border-radius: 60px;
  background: linear-gradient(145deg, #ececec, var(--content-white));
  position: relative;
  z-index: 2;
}
.menu-tab ul li, .menu-tab ul .filter-active{
  display: inline-flex;
  text-transform: capitalize;
  font-size: 18px;
  line-height: normal;
  cursor: pointer;
  padding: 10px 26px;
  border-radius: 30px;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}
.filter-active{
  position: absolute;
  left: 0;
  top: 12px;
  min-height: 50px;
  z-index: -1;
}
.menu-tab ul .filter-active {
  color: var(--content-white);
}
.sec-sub-title {
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  background: #f3f3f5;
  box-shadow: 9px 9px 12px #e4e4e4, -9px -9px 12px var(--content-white);
  padding: 3px 20px;
  border-radius: 60px;
  color: var(--mesage-name-restaurant);
  font-size: 14px;
  text-align: center;
}
.h2-title {
  font-size: 46px;
  line-height: 56px;
  margin-bottom: 15px;
  text-transform: capitalize;
  position: relative;
  z-index: -2;
}
.h2-title span, .h3-title span, .h4-title span, .h5-title span, .sub-title span {
  display: block;
}
.text-center{
  text-align: center !important;
}
.header-btn {
  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  margin-left: 20px;
  transition: 0.3s;
  align-items: center;
  transition: 0.5s;
  border: 1px solid gray;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}
.header-btn::after{
  border-radius: 50%;
  content: "";
  background-color: var(--button-orden);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}
.header-btn:hover {
  background: linear-gradient(145deg, #dcdcdc, var(--content-white));
  box-sizing: border-box;
  box-shadow: 20px 20px 60px #cfcfd0, -20px -20px 60px var(--content-white);
}

/*---------- Lista de Productos ----------*/
.course {
	background-color: var(--content-white);
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 900px;
}
.course:hover{
  transform: scale(1.03);
}
.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
  justify-content: center;
}
.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}
.course-preview img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  padding: 10px;
  justify-content: center;
  --transition: ease-in-out .3s;
}
.course-preview a {
	color: var(--content-white);
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}
.course-info {
	--padding: 30px;
	position: relative;
	width: 100%;
}
.course-info span{
  text-align: center;
  color: var(--item-select);
  letter-spacing: 1px;
}
.button-five{
  background-color: var(--message-restaurant);
  border-radius: 25px;
}
/*BOTONES ADD Y REMOVE*/
.icon-btn {
  width: 50px;
  height: 40px;
  border: 1px solid var(--content-white);
  background: transparent;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}
.add-btn:hover {
  width: 80px;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: var(--item-select);
}
.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
  color: var(--item-select);
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.add-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: var(--item-select);
  overflow: hidden;
}
.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.colorText{
  color: gray;
  text-align: center;
}
.colorTextoVertical{
  color: gray;
  text-align: center;
}
/*MODAL*/
.photo{
  padding: 0;
  left:30%;  
  display: block;
}
.photo img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-left: auto;
  margin-right: auto;
}
/*Tablets*/
@media (min-width: 481px) and (max-width:767px){
  .photo{
    top: 55%;
  }
  .photo img {
    width: 200px;
    height: 200px;
  }
  .photo strong, p{
    font-size: 12px;
  }
}
.photo:hover img{
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}
.photo:hover img,
.photo:hover .glow-wrap{
  margin-top: 0;
}

/*---------- PEDIDO ----------*/
.miorden{
  text-align: center;
  font-size: 16px;
}
.formato{
  border-collapse: collapse;
  width: 100%;
}
.formato thead{
  overflow-x: auto;
  min-height: .01%;
}
.formato td, th{
  border:  1px solid #ddd;
  padding: 8px;
}
.formato tr:nth-child(even){background-color: #f2f2f2;}

.formato tr:hover {background-color: #ddd;}

.formato th {
  --padding-top: 12px;
  --padding-bottom: 12px;
  text-align: center;
  background-color: var(--item-select);
  color: var(--content-white);
}
.formato button {
	cursor: pointer;
	height: 30px;
	width: 30px;
	border-radius: 10px;
	margin: 5px;
	transition: 1s;
  border: none;
}

.table_responsive table{
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
.table_responsive tr{
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
.table_responsive th, .table_responsive td{
  padding: .625em;
  text-align: center;
}
.table_responsive th{
  font-size: 13px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.h1-title{
  text-transform: capitalize;
  margin-bottom: 25px;
  font-weight: 900;
}
.mensajes span{
  color: var(--mesage-name-restaurant);
  background-image: linear-gradient(0deg, rgb(13 13 37 /8%), rgb(13 13 37 /8%));
  background-size: 100% 20px;
  background-position: 0 90%;
  background-repeat: no-repeat;
  display: inline;
  transition: 0.8s cubic-bezier(0.22,0.78,0.45,1.02);
}

/*Menu principal*/
.h2-title {
  font-size: 46px;
  line-height: 56px;
  margin-bottom: 15px;
  text-transform: capitalize;
  position: relative;
  z-index: -2;
}
.h2-title span, .h3-title span, .h4-title span, .h5-title span, .sub-title span {
  display: block;
}
.text-center{
  text-align: center !important;
}






/*Información de la portada*/

/*MEDIDAS EN DISPOSITIVOS*/

/*iPhone 4 y 4s*/
@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px) {
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 200px;
      height: 200px;
    }
    .mensajes{
      line-height: 80%;
    }
    .portada{
      object-fit: none;
    }
    .course {
      width: 300px;
    }
    .photo{
      top: 60%;
    }
    .photo p{
      font-size: 10px;
    }
    .photo img {
      width: 120px;
      height: 120px;
    }
    .photo strong{
      font-size: 8px;
    }
    .contenido_modal{
      font-size: 10px;
      color: var(--button-generate-pedido);
    }
    .contenido_modal strong{
      color: gray;
    }
    .table_responsive table{
      border:  0;
    }
    .table_responsive thead{
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      width: 1px;
    }
    .table_responsive tr{      
      margin-bottom: .625em;
    }
    .table_responsive td{
      font-size: 9px;
      text-align: left;
    }
    .table_responsive td::before{
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    .table_responsive td:last-child {
      border-bottom: 0;
    }    
    .table_responsive th{
      font-size: 7px;
    }
    .boton-{
      border: none;
      border-bottom: none;
      font-size: 30px;
      padding: 0;
      background-color: transparent;
      color: var(--color-red);   
      }   
      .boton-:hover,
      .boton-:focus{
        border-color: hsla(0, 0%, 100%, .6);
        transform: translateY(-.2rem);
        outline: none !important;
      } 
      .botonmas{
        background-color: transparent;
        color: var(--button-generate-pedido);
        font-size: 24px;
        border: none;
        border-bottom: none;
        padding: 0;
      }
      .formato td, th{
        font-size: 50%;
      }
      .GenerarOrden{
        font-size: 70%;
      }
}

/*iPhone 6, 6s, 7 y 8, iPhone SE (2020)*/
@media only screen 
  and (min-width: 360px) 
  and (max-width: 667px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 290px;
      height: 290px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 90%;
    }
    .course {
      width: 320px;
    }
    .photo{
      top: 55%;
      --transform:translate(-50%, -300%);
    }
    .photo p{
      font-size: 10px;
    }
    .photo img {
      width: 200px;
      height: 200px;
    }
    .photo strong{
      font-size: 9px;
    }
    .contenido_modal{
      font-size: 11px;
      color: var(--button-generate-pedido);
    }
    .contenido_modal strong{
      color: gray;
    }
    .table_responsive table{
      border:  0;
    }
    .table_responsive thead{
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      width: 1px;
    }
    .table_responsive tr{      
      margin-bottom: .625em;
    }
    .table_responsive td{
      font-size: 9px;
      text-align: left;
    }
    .table_responsive td::before{
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    .table_responsive td:last-child {
      border-bottom: 0;
    }    
    .table_responsive th{
      font-size: 8px;
    }
    .boton-{
    border: none;
    border-bottom: none;
    font-size: 30px;
    padding: 0;
    background-color: transparent;
    color: var(--color-red);   
    }   
    .boton-:hover,
    .boton-:focus{
      border-color: hsla(0, 0%, 100%, .6);
      transform: translateY(-.2rem);
      outline: none !important;
    } 
    .botonmas{
      background-color: transparent;
      color: var(--button-generate-pedido);
      font-size: 24px;
      border: none;
      border-bottom: none;
      padding: 0;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}

/*iPhone 6+, 7+ y 8+*/
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 300px;
      height: 300px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 90%;
    }
    .course {
      width: 400px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}

/*iPhone X, iPhone 11 pro, iPhone 13 Mini, iPhone 11 Pro Max*/
@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 320px;
      height: 320px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 200%;
    }
    .course {
      width: 335px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}
/*https://es.stackoverflow.com/questions/50334/c%C3%B3mo-detectar-si-el-dispositivo-es-iphone-con-css*/

/*iPhone 11, 11pro max, iPhone XR,iPhone XS Max */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 896px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 350px;
      height: 350px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 200%;
    }
    .course {
      width: 400px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}

/*iPhone 12 ,iPhone 12 Pro, iPhone 12 pro Max, iPhone 13, iPhone 13 PRO*/
@media only screen 
  and (min-width: 390px) 
  and (max-width: 844px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 300px;
      height: 300px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 200%;
    }
    .course {
      width: 370px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}
/*iPhonE 12 mini*/
@media only screen 
  and (min-width: 360px) 
  and (max-width: 780px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 280px;
      height: 280px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 200%;
    }
    .course {
      width: 320px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}

/*iPhone 12 pro max, iPhone 13 PRO MAX*/
@media only screen 
  and (min-width: 428px) 
  and (max-width: 926px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 380px;
      height: 380px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 200%;
    }
    .course {
      width: 388px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}


/*ANDROID*/
/*Xiaomi Mi 11i, Xiaomi 12 2022*/
@media only screen 
  and (min-width: 360px) 
  and (max-width: 800px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 300px;
      height: 300px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 200%;
    }
    .sec-title text-center{
      line-height: 10%;
    }
    .course {
      width: 320px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}

/*Xiaomi Redmi Note 9 Pro*/
@media only screen 
  and (min-width: 393px) 
  and (max-width: 873px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 320px;
      height: 320px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 90%;
    }
    .course {
      width: 353px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}

/*Xiaomi Redmi Note 7, Xiaomi Redmi Note 8, Xiaomi Redmi Note 8 Pro*/
@media only screen 
  and (min-width: 393px) 
  and (max-width: 851px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 320px;
      height: 320px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 80%;
    }
    .course {
      width: 353px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}

/*Samsung Galaxy A12, Samsung Galaxy S22+, Samsung Galaxy S22 ULTRA (2022),
Samsung Galaxy S22 (2022), Samsung Galaxy S21 Ultra, Samsung Galaxy S20,
Samsung Galaxy S21+, Samsung Galaxy S21, Samsung Galaxy S10, Samsung Galaxy S9+,
Samsung Galaxy S8+, Samsung Galaxy J6*/
@media only screen 
  and (min-width: 360px) 
  and (max-width: 800px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 320px;
      height: 320px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 250%;
    }
    .course {
      width: 320px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}

/*Samsung Galaxy Note20 Ultra, Samsung Note10+ Samsung Galaxy S10+,
Samsung Galaxy Note8*/
@media only screen 
  and (min-width: 412px) 
  and (max-width: 883px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 220px;
      height: 220px;
    }    
    .portada{
      object-fit: none;
    }    
    .course {
      width: 380px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}

/*Samsung Galaxy Z Fold 2 (2020)*/
@media only screen 
  and (min-width: 820px) 
  and (max-width: 1104px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 450px;
      height: 450px;
    }    
    .portada{
      object-fit: none;
    }
    .course {
      width: 844px;
    }
    .photo{
      top: 50%;
    }
    .photo p{
      font-size: 12px;
    }
    .photo img {
      width: 200px;
      height: 200px;
    }
    .photo strong{
      font-size: 11px;
    }
    .contenido_modal{
      font-size: 13px;
      color: var(--button-generate-pedido);
    }
    .contenido_modal strong{
      color: gray;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}

/*Samsung Galaxy Fold (2019)*/
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1076px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 470px;
      height: 470px;
    }    
    .portada{
      object-fit: none;
    }
    .course {
      width: 728px;
    }
    .photo{
      top: 50%;
    }
    .photo p{
      font-size: 12px;
    }
    .photo img {
      width: 200px;
      height: 200px;
    }
    .photo strong{
      font-size: 11px;
    }
    .contenido_modal{
      font-size: 13px;
      color: var(--button-generate-pedido);
    }
    .contenido_modal strong{
      color: gray;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}

/*Samsung Galaxy S20+*/
@media only screen 
  and (min-width: 384px) 
  and (max-width: 854px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 250px;
      height: 250px;
    }    
    .portada{
      object-fit: none;
    }
    .course {
      width: 344px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}
/*Samsung S6, Samsung S6 edge, Samsung S7, Samsung S7 edge, Samsung Galaxy On8,
Samsung Galaxy J7 Prime, Samsung Galaxy J7*/
@media only screen 
  and (min-width: 360px) 
  and (max-width: 640px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 280px;
      height: 280px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 100%;
    }
    .course {
      width: 320px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}
/*Samsung Galaxy S8*/
@media only screen 
  and (min-width: 360px) 
  and (max-width: 740px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 260px;
      height: 260px;
    }    
    .portada{
      object-fit: none;
    }
    .course {
      width: 320px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}

/*Apple iPad PRO 11*/
@media only screen 
  and (min-width: 834px) 
  and (max-width: 1194px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 500px;
      height: 500px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 400%;
    }
    .course {
      width: 794px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}
/*Samsung Galaxy Tab S7*/
@media only screen 
  and (min-width: 800px) 
  and (max-width: 1280px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 500px;
      height: 500px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 400%;
    }
    .course {
      width: 760px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}
/*Surface Pro 7*/
@media only screen 
  and (min-width: 912px) 
  and (max-width: 1368px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 700px;
      height: 700px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 400%;
    }
    .course {
      width: 872px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}
/*Samsung Galaxy A51/71*/
@media only screen 
  and (min-width: 412px) 
  and (max-width: 914px)  { 
    .banner-img-wp{
      padding: 0;
    }
    .banner-img{
      width: 250px;
      height: 250px;
    }    
    .portada{
      object-fit: none;
    }
    .mensajes{
      line-height: 200%;
    }
    .course {
      width: 380px;
    }
    .formato td, th{
      font-size: 50%;
    }
    .GenerarOrden{
      font-size: 70%;
    }
}

  .boton-{
    border: none;
    border-bottom: none;
    font-size: 30px;
    padding: 0;
    background-color: transparent;
    color: var(--color-red);   
    }   
    .boton-:hover,
    .boton-:focus{
      border-color: hsla(0, 0%, 100%, .6);
      transform: translateY(-.2rem);
      outline: none !important;
    } 
    .botonmas{
      background-color: transparent;
      color: var(--button-generate-pedido);
      font-size: 24px;
      border: none;
      border-bottom: none;
      padding: 0;
    }


/*Seleccionar Categoría*/
.tabs-group{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  --position: -webkit-sticky;
  --position: sticky;
  background: var(--content-white);
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  z-index: 1;
}
.tabs-item{
  padding: 10px;
}
.tab-item-selected{ 
  text-decoration: underline;
  text-decoration-color: var(--content-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
  height: 10px;
  background-color: var(--item-select);  
  color: var(--content-white);
  border-radius: 80px;
  padding: 0 18px;
  will-change: transform;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.tab-item {
  --position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    --overflow: hidden;
    --cursor: pointer;
    --width: 90px;
    height: 10px;
    background-color: var(--item-unselect);
    border-radius: 80px;
    padding: 0 18px;
    will-change: transform;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.tab-item:hover{
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.45);
}

.tab-item:focus{
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.4);
}
.tab-item-selected  > span, .btn-icon{
  float: left;
  padding: 13px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  line-height: 1em;
}
.tab-item > span, .btn-icon{
  float: left;
  padding: 13px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  line-height: 1em;
}

.tab-item > span{
  padding: 14px 18px 16px;
  white-space: nowrap;
  color: var(--content-white);
  background: #b8b8b8;
}
.tab-item:focus > span{
  background:#9a9a9a;
}
.btn-icon > span {
  border-radius:0 5px 5px 0
}
.tabs-group-vertical{
  --position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    --overflow: hidden;
    --cursor: pointer;
    --width: 90px;
    height: 50px;
    background-color: var(--item-unselect);
    border-radius: 80px;
    padding: 0 18px;
    will-change: transform;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.tab-item-selected-vertical{ 
  text-decoration: underline;
  text-decoration-color: var(--content-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
  height: 30px;
  background-color: var(--item-select);  
  color: var(--content-white);
  border-radius: 80px;
  padding: 0 18px;
  will-change: transform;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.tab-item-vertical {
  --position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    --overflow: hidden;
    --cursor: pointer;
    --width: 90px;
    height: 30px;
    background-color: var(--item-unselect);
    border-radius: 80px;
    padding: 0 19px;
    will-change: transform;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.tab-item-vertical:hover{
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.45);
}
.tab-item-vertical:focus{
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.4);
}

/*Boton Regresar*/
.btns{
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: var(--content-white);
}
.btns > svg{
  margin-right: 5px;
  margin-left: 5px;
  font-size: 15px;
  transition: all 0.4s ease-in;
}
.btns:hover > svg{
  font-size: 1.2em;
  transform: translateX(-5px);
}
.btns:hover{
  --box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px var(--content-white);
  transform: translateY(-2px);
}

/*Eliminar Todo*/
.eliminarTodo{
  background: grey;
  color: var(--content-white);  
  font-size: 9px;
  transition: 0.3s ease;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  border: none;
  height: 25px;
  align-items: center;
  width: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.EnviarPedido{
  color: var(--content-white);
  background: var(--button-generate-pedido);
  position: relative;
  transition: 0.3s ease;
  justify-content: right;
  text-align: center;
  border-radius: 5px;
  border: none;
  height: 30px;
  font-size: 12px;
}
.padre{
  display: flex;
  justify-content: center;
}
.generaOrdenstyle{
  font-size: 9px;
  background: var(--button-generate-pedido);
  --position: relative;
  transition: 0.3s ease;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  border: none;
  height: 25px;
  color: var(--content-white);
  align-items: center;
  width: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.EnviarPedidoServicio{
  background: #158531;
  color: var(--content-white);
  width: 80px;
  height: 10px;
  position: relative;
  transition: 0.3s ease;
  justify-content: right;
  text-align: center;  
}
.inputNombrede{
  border-radius: 5px;
  width: 250px;
  height: 20px;
  border: none;
  outline:none;
  text-align: center;
  background-color: var(--button-primary);
  cursor: pointer;  
  color: var(--content-white);
}
.inputNombrede:active{
  border: none;
  outline:none;
}
.botonEnviarPedido{
  border: none;
  border-radius: 5px;
  background: #158531;
  color: var(--content-white);
  font-size: 14px;
  width: 100px;
  height: 25px;
  transition: all .2s ease-in-out;
}

/*Servicio*/

.button {
  color: var(--content-white);
  background-color: var(--button-generate-pedido);
  padding: 12px 25px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 0;
  border-radius: 2px;
  outline: 0;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  transition: all .2s; }
  .button:hover, .button:active, .button:focus {
    -ms-transform: scale(1.1);
        transform: scale(1.1); }

input {
  width: calc(100% - 10px);
  min-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: .5px;
  border: 0;
  border-bottom: 2px solid #f0f0f0; }
  input:valid {
    border-color: var(--button-generate-pedido) }
  input:focus {
    outline: none;
    border-color: #fbcf34; 
  }

.form-list {
  padding-left: 0;
  list-style: none; }
  .form-list__row {
    margin-bottom: 25px; }
    .form-list__row label {
      position: relative;
      display: block;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 11px;
      letter-spacing: .5px;
      color: #939393; }
    .form-list__row--inline {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .form-list__row--inline > :first-child {
        -ms-flex: 2;
            flex: 2;
        padding-right: 20px; }
      .form-list__row--inline > :nth-child(2n) {
        -ms-flex: 1;
            flex: 1; }
  .form-list__input-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .form-list__input-inline > * {
      width: calc(50% - 10px - 10px); }
  .form-list__row--agree {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px; }
    .form-list__row--agree label {
      font-weight: 400;
      text-transform: none;
      color: #676767; }
    .form-list__row--agree input {
      width: auto;
      margin-right: 5px; }

.modal_menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  z-index: 100; 
overflow-y: auto;
}
  .modal__container {
    display: -ms-flexbox;
    display: flex;
    max-width: 675px;
    min-height: 400px;
    margin-bottom: 125px;
    background-color: var(--content-white);
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1); }
  .modal__featured {
    position: relative;
    -ms-flex: 1;
        flex: 1;
    min-width: 230px;
    padding: 20px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .modal__circle {
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 200%;
    background-color: #FA944F;
    border-radius: 50%;
    -ms-transform: translateX(-50%) translateY(-25%);
        transform: translateX(-50%) translateY(-25%); }
  .modal__product {
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 100%;
    -ms-transform: translateX(calc(-50% - 10px));
        transform: translateX(calc(-50% - 10px)); }
  .modal__content {
    -ms-flex: 3;
        flex: 3;
    padding: 40px 30px; }

select{
  padding: 1rem;
	cursor: pointer;
	border-radius: 5px;
	list-style: none;
  align-items: center;
  font-family: 'Muli', sans-serif;
}
option{
  border-radius: 4px;
  background-color: var(--content-white);
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  font-size: 16px;
}
.dropdown-list_item{
  padding: 1rem;
}
select:hover, option{
  opacity: 1;
  visibility: visible;
}
select:valid {
  border-color: var(--button-generate-pedido); }
select:focus {
  outline: none;
  border-color: #fbcf34; }

  /*Información de Mesa Ocupada - libre*/
  .mesa-item{        
    background: #afafaf;
    margin: 20px;
    padding: 20px;
    width: 200px;
    min-height: 30px;
    display: grid;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    grid-row: 3/4;
    font-weight: 550;
    color: var(--content-white);
    text-align: center;
  }
  .mesa-item-into{
    background-color: #afafaf;
    min-height: 30px;
    display: grid;
    border-radius: 15px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    grid-row: 3/4;
    color: var(--content-white);
    text-align: center;
    align-items: center;    
  }
  .disponible{
    background: var(--button-generate-pedido);
  }
  .servicio{
    background: #afafaf;
  }
  .mesa-item:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  .mesa-item{
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
  }
  .mesa-item::after {
    position: absolute;
    top: 55px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.9s;
  }
  .mesa-item:hover::after {
    width: 100%;
  }

  /*Ver Resumen de orden*/

  .ver_resumen{  
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;        
    height: 60px;    
  }
  .resumen_orden{
    color: #158531;
    text-decoration: none;    
    position: relative;
  }
  .resumen_orden::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #158531;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  @media (hover: hover) and (pointer: fine) {
    .resumen_orden:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  .pre-orden{
    color: var(--button-generate-pedido);
    text-decoration: none;
    position: relative;
    text-align: center;    
  }
  .pre-orden::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--button-generate-pedido);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  @media (hover: hover) and (pointer: fine) {
    .pre-orden:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  .resumen_pre-orden{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;        
  }

/*Lista de prductos*/
.ListaProductos{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: space-around;
    line-height: 30px;
}
/*Cerrar pedido*/
.cerrarPedido{
  color:var(--content-white);
  background: var(--color-generate-orden);
  position: relative;
  transition: 0.3s ease;
  justify-content: right;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  border: none;
  transform: translateY(-2px);
}
/*Preordenes*/
.GenerarOrden{
  border: none;
  height: 35px;
  width: 200px;
  background: var(--color-generate-orden);
  color: var(--content-white);
  border-radius: 5px;
  margin-top: 5px;
  text-decoration: underline;
  cursor: pointer;
}
.SeleccionarMesa{
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background: var(--button-generate-pedido);
  color: var(--content-white);
  margin-top: 10px;
  cursor: pointer;
}


/*Información de las Cards*/
.card{
  width: 100px;
 height: 15px;
 border-radius: 10px;
 background: var(--content-white);
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}
.card-details {
  color: var(--message-restaurant);
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-cards-admin);
  color: var(--content-white);
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 .text-body-card {
  color: rgb(134, 134, 134);
 } 
 .text-title-card {
  --font-size: 1.5em;
  font-weight: bold;
 }
 .card:hover {
  border-color: var(--color-cards-admin);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 } 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }
 .mainnav{
  background-color: var(--content-white);
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 60px;
}
.mainnav li {
color: var(--message-restaurant);
cursor: pointer;
flex: 1;
padding: 20px;
text-align: center;
text-decoration: none;
}
.detallePedido{
  --font-size: 40%;  
}
.ordende{
  color: var(--item-select);
}
/*Design Table Service*/
.styled-table {
  border-collapse: collapse;
  border-spacing: 15px;
  width: 100%;
}
.styled-table tr:nth-child(even){background-color: #f2f2f2;}

.styled-table tr:hover{
  background-color: #ddd;
}
.styled-table th{
  background-color: var(--content-table-service);
  color: var(--content-white);
}
.styled-table td{
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 9px;
  text-align: center;
}
.logoAdmin{
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.admin{
  background: var(--color-generate-orden);
}

.card-group{
  display: flex;
}
.card-item{
  padding: 20px;
}
.selecciona{
  font-size: 12px;
}
.iconEdit{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.buttonAcciones{
  background: transparent;
  border: none;
}